
header {
    font-size: 36px; 
    text-align: center;
    font-family: "Arial", sans-serif;
  }
  
  .maincontent {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}


.maincontent img {
    width: 200px; 
    height: auto; 
    margin: 10px;
}