header {
    font-size: 36px; 
    text-align: center;
    font-family: "Arial", sans-serif;
  }
  
  .maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  